@media only screen and (max-width: 980px) {
  .grid-container {
    display: grid;
    grid-template-columns: repeat(2,1lfr);
    margin-left: 3%;
    margin-right: 3%;
    margin-bottom: 15%;
  }
  body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
  }

  .grid-container header {
    grid-column: span 2;
    text-align: center;
    font-size: 3vh;
    margin-top: 1%;
    margin-bottom: 1%;
  }

  #searchBar {
    grid-column: span 2;
  }


  #myInput {
    width: 100%;
    border: none;
    font-size: 3vh;
    border-bottom: 1px solid black;
  }

  #myUL{
    list-style-type: none;
    display: none;
  }

  #myUL li a {
    border: 1px solid #ddd; /* Add a border to all links */
    margin-top: -1px; /* Prevent double borders */
    background-color: #f6f6f6; /* Grey background color */
    padding: 12px; /* Add some padding */
    text-decoration: none; /* Remove default text underline */
    font-size: 18px; /* Increase the font-size */
    color: black; /* Add a black text color */
    display: block; /* Make it into a block element to fill the whole list */
  }

  #myUL li a:hover:not(.header) {
    background-color: #eee; /* Add a hover effect to all links, except for headers */
  }

  #myInput[type="text"]:focus {
    background-color: pink;
  }

  .grid-container h2 {
    grid-column: span 2;
    font-size: 3vh;
  }

  /* Style the buttons that are used to open and close the accordion panel */
  .accordion {
    grid-column: span 2;

    padding-top: 1vh;
    background-color: white;
    cursor: pointer;
    width: 100%;
    border:none;
    border-bottom: 1px solid black;
    text-align: left;
    outline: none;
    font-size: 3vh;
    padding-top: 1%;
    padding-bottom: 1%;
    transition: 0.4s;
  }

  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .active, .accordion:hover{
    color: black;
    content: "\2212";  Unicode character for "minus" sign (-)
  }

.accordion:after {
    content: '\002B'; /* Unicode character for "plus" sign (+) */
    color: #777;
    float: right;
    margin-right: 1%;
}

.active:after {
    content: "\2212"; /* Unicode character for "minus" sign (-) */
}


  /* Style the accordion panel. Note: hidden by default */
  .panel {
    grid-column: span 2;
    width: 100%;
    padding: 0px;
    background-color: white;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    display: none;
    vertical-align: middle;
    text-align: center;
  }

  /* Slideshow container */
  .slideshow-container {
    position: relative;
    max-width: 100%;
    vertical-align: middle;
  }

  .mySlides1, .mySlides2, .mySlides3, .mySlides4, .mySlides5 {
    display: none;
  }


  .prev, .next {

    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: black;
    font-weight: bold;
   font-size: 20px;
   transition: 0.6s ease;
   border-radius: 0 3px 3px 0;
   user-select: none;
  }
  .prev {
    position: absolute;
    left: 0;
  }
  .next {
    position: absolute;
    right: 0;
    border-radius: 3px 0 0 3px;
  }

  .description {
    font-size: 2vh;
    margin: auto;
    width: 80%;
    text-align: justify;
    vertical-align: middle;
  }

  .muscles {
    padding-top: 2%;
  }
  .muscles img {
    width: 200px;
    height: 200px;
  }
  .instructions {
    padding-top: 2%;
  }
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  /* The dots/bullets/indicators */

}
