@media only screen and (max-width: 980px){
  body{
    font-family: 'Open Sans', sans-serif;
    margin:0;
    padding:0;
    display:flex;
    height:100%;
    width:100%;
    margin:0;
  }
  html,body {
    height:100%;
    width:100%;
    margin:0;
  }
  body {
    display:flex;
  }
  form {
    margin:auto;/* nice thing of auto margin if display:flex; it center both horizontal and vertical :) */
    margin-bottom: 75%;
  }

  h1 {
    text-align: center;
    font-size: 150px;
    margin-bottom: 50px;
    text-decoration: underline;
  }

  label {
    border-bottom: 1px solid black;
    font-size: 3vh;
  }
  input {
    font-size: 3vh;
    margin-bottom: 5%;
  }
  #close {
    font-size: 3vh;
    border: 1px solid black;
    border-radius: 10px;
    margin-right: 25px;
    background-color: red;
    padding: 15px;
  }
  #submitInfo {
    font-size: 3vh;
    border: 1px solid black;
    border-radius: 10px;
    margin-left: 25px;
    background-color: lightgreen;
    padding: 15px;
  }
  #options {
    text-align: center;
    margin-top: 10%;
  }
  a {
    display: block;
    text-align: center;
    font-size: 2vh;
    margin-top: 5%;
  }

}
