@media only screen and (max-width: 980px) {
  .grid-container {
    display: grid;
    grid-template-columns: repeat(2,1lfr);
    margin-bottom: 200px;
  }
  body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
  }
  h1 {
    grid-column: span 2;
    text-align: center;
    font-size: 4vh;
  }
    hr {
      margin-top: 1%;
    }

    label {
      flex: 1;
      font-size: 3vh;
    }
    #profilePic {
      border-radius: 50%;
    }
    #picgallery {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-around;

    }
    #picgallery img {
      width: 400px;
      height: 400px;
      margin-top: 30px;
    }
    #fileContainer {
      font-size: 30px;
      border: 1px solid black;
    }
    #options {
      display: grid;
      grid-template-columns: repeat(2,1lfr);
    }

    label > input {
      width: inherit;
      text-decoration: none;
      border: none;
      margin: 0px;
      margin-left: 1%;
    }

    label {
      padding-left: 100px;
    }

    button {
      padding: 5px;
      font-size: 2vh;
      color: grey;
      text-align: left;
      margin-top: 20px;
    }

    a {
      grid-column: span 2;
      background-color: white;
      font-size: 50px;
      vertical-align: middle;
      text-decoration: none;
      border-bottom: 1px solid black;
      border-top: 1px solid black;
      padding: 10px;
    }

    a:visited {
      color: black;
    }
    a:hover {
      cursor: pointer;
      background-color: pink;
    }

  #logout{
    height: 5%;
    width: 20%;
    position: absolute;
    top: 3%;
    right: 5%;
    color: white;
    text-align: center;
    font-size:30px;
    cursor:pointer;
    border: 1px solid black;
    border-radius: 10px;
    background-image: linear-gradient(green, blue);
  }

  header {
    grid-column: span 2;

    display: flex;
    flex-basis: auto;
    flex-direction: row;
    font-size: 2vh;

    margin-bottom: 5vh;
  }
  header > img {
    width: 300px;
    height: 300px;
    margin-left: 10%;
  }

  header > ul {
    flex: 1;
    width: 100%;
  }
  header > ul > li {
      list-style-type: none;
  }

  .arrow {
    display: inline-block;
    float: right;
    font-size: 70px;
    padding-right: 20px;
    margin-bottom: 0px;
  }

  .functions{
    grid-column: span 2;
    margin: 0;
    display: inline-block;
    padding-top: 1vh;
    background-color: white;
    cursor: pointer;
    width: 100%;
    border: none;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    text-align: left;
    outline: none;
    font-size: 3vh;
    padding-left: 40px;
    color: black;
  }
}
