@media only screen and (max-width:980px) {
  .grid-container {
    display: grid;
    grid-template-columns: repeat(2,1lfr);
  }

  body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
  }

  .grid-container header {
    grid-column: span 2;
    text-align: justify;
    color:white;
  }
  #absheader {
    background-image:
    /* top, transparent red */
    linear-gradient(
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.6)
    ),
    /* your image */
    url("../body/abs.jpg");
     background-repeat: no-repeat;
      background-repeat: no-repeat;
      position: relative;
          background-size: cover;
          width: 100%;
          height: 600px;
  }
  #upperbodyheader {
    background-image:
    /* top, transparent red */
    linear-gradient(
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.6)
    ),
    /* your image */
    url("../body/upper.jpg");
     background-repeat: no-repeat;
      background-repeat: no-repeat;
      position: relative;
          background-size: cover;
          width: 100%;
          height: 600px;
  }
  #lowerbodyheader {
    background-image:
    /* top, transparent red */
    linear-gradient(
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.6)
    ),
    /* your image */
    url("../body/legs.jpg");
     background-repeat: no-repeat;
      background-repeat: no-repeat;
      position: relative;
          background-size: cover;
          width: 100%;
          height: 600px;
  }
#olyadvancedheader {
  background-image:
  /* top, transparent red */
  linear-gradient(
    rgba(0, 0, 0, 0.6),
    rgba(0, 0, 0, 0.6)
  ),
  /* your image */
  url("../olympic/olyadvanced.jpg");
   background-repeat: no-repeat;
    background-repeat: no-repeat;
    position: relative;
        background-size: cover;
        width: 100%;
        height: 600px;
}
#olyinterheader {
  background-image:
  /* top, transparent red */
  linear-gradient(
    rgba(0, 0, 0, 0.6),
    rgba(0, 0, 0, 0.6)
  ),
  /* your image */
  url("../olympic/olyinter.jpg");
   background-repeat: no-repeat;
    background-repeat: no-repeat;
    position: relative;

        background-size: cover;
        width: 100%;
        height: 600px;
}
#olynoviceheader {
  background-image:
  /* top, transparent red */
  linear-gradient(
    rgba(0, 0, 0, 0.6),
    rgba(0, 0, 0, 0.6)
  ),
  /* your image */
  url("../olympic/olynovicebg.png");
   background-repeat: no-repeat;
    background-repeat: no-repeat;
    position: relative;
    background-size: cover;
}
  #powerheader {
    background-image:
    /* top, transparent red */
    linear-gradient(
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.6)
    ),
    /* your image */
    url("../power/powerbuilding.jpg");
     background-repeat: no-repeat;
      background-repeat: no-repeat;
      position: relative;
      background-size: cover;
      width: 100%;
      height: 600px;
  }
  #strengthheader{
    background-image:
    /* top, transparent red */
    linear-gradient(
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.3)
    ),
    /* your image */
    url("../power/strength.jpg");
     background-repeat: no-repeat;
      background-repeat: no-repeat;
      position: relative;
      background-size: cover;
      width: 100%;
      height: 600px;
  }
  #linearheader {
    background-image:
    /* top, transparent red */
    linear-gradient(
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.3)
    ),
    /* your image */
    url("../power/linearbg.png");
     background-repeat: no-repeat;
      background-repeat: no-repeat;
      position: relative;
      background-size: cover;
      width: 100%;
      height: 600px;
  }
  #flex-header {
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
  }

  #flex-header a {
    margin-right: 5%;
    color: white;
    font-size: 3vh;
    text-decoration: none;
  }

  #flex-header h1 {
    font-size: 5vh;
    color: white;
    margin-right: 10%;
    margin-bottom: 20px;
    margin-top: 30px;
  }
  .grid-container header > p {
    font-size: 40px;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 0;
    margin-bottom: 0;
  }

  .grid-container main {
    grid-column: span 2;
    display: flex;
    justify-content: center;
    font-size: 2vh;
  }

  .grid-container main > table {
    width: 85%;
    border: 2px solid black;
    padding: 2vw;
    margin-top: 10%;
    font-size: 3vh;
  }

  caption {
    text-align: left;
    font-size: 3.5vh;
    padding-bottom: 3%;
    font-weight: 800;
  }

  tr {
    border-bottom: 1px solid black;
  }



  .grid-container main {
    grid-column: span 2;

    display: flex;
    flex-direction: row;

    border: 1px solid black;
    padding: 4%;

    margin-top: 10%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 10%;
  }

  .column-1 {
    flex: 1;
    margin-left: 10%;
    display: flex;
    flex-direction: column;
  }

  .column-2 {
    flex: 1;
    margin-right: 10%;
    display: flex;
    flex-direction: column;
  }
  .column-1 p {
    flex: 1;
    text-align: left;
    border-bottom: 1px solid black;
  }

  .column-2 p {
    text-align: right;
    border-bottom: 1px solid black;
  }

  .grid-container footer {
    grid-column: span 2;

    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 8vh;
    background-color: lightgreen;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  button {
    width: 100%;
    height: 100%;
    font-size: 50px;
  }

.grid-container footer > a {
    color: white;
    font-size: 3vh;
    text-decoration: none;
  }
}
