header {
  margin-top: 5%;
}

header > h3 {
  font-style: italic;
  font-weight: bold;
  text-decoration: underline;
  font-size: 500%;
  text-align: left;
  margin-left: 5%;
}

h1 {
  font-weight: bold;
  font-size: 600%;
  display: block;
  text-align: center;
  top: 10%;
}

#login {
  position: absolute;
  right: 12%;
  top: 5%;
  margin-right: 2%;
}

#signup{
  position: absolute;
  right: 5%;
  top: 5%;
}

.flex-row {
  display: flex;
  justify-content: center;
  text-align: center;
  margin: auto;
  width: 60%;
}

#programs {
  display: block;
}

#bot-row {
  margin-top: 5%;
  margin-bottom: 15%;
}

.icons {
  margin: 2%;
  height: 100%;
  width: 100%;
  border: 3px solid black;
}

button {
  cursor: pointer;
  border: 3px solid black;
  padding: 20% 30%;
}

img {
  cursor: pointer;
  height: 100%;
  width: 100%;
}

img:hover {
  background-color: grey;
  color: black;
}
