@media only screen and (max-width:980px) {

  .grid-container footer {
    grid-column: span 2;

    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 8vh;
    background-color: pink;
  }
  
  nav {
    display: flex;
    flex-basis: auto;
    align-self: stretch;
    height: 100%;
    justify-content: center;
    align-items: center;
  }

  nav > figure > a {
    border: 3px solid black;
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    align-self: stretch;

  }

  #glossary {
    flex: 1;
  }
  #myprofile {
    flex: 1;
  }
  #community {
    flex: 1;
  }
  #home {
    flex: 1;
  }

  footer > nav > figure  > a > img {
    max-height: 110%;
    max-width: 110%;
  }
}
