header {
  text-align: center;
  font-weight: bold;
}

header > h1 {
  font-size: 450%;
  background-color: black;
  border: 3px solid black;
  color: white;
  margin-left: 15%;
  margin-right: 15%;
}

#back {
  float: left;
  border: 1px solid black;
  height: 1%;
  width: 2%;
  margin-left: 5%;

}

p {
  display: block;
  font-size: 125%;
  text-align: center;
  margin-left: 10%;
  margin-right: 10%;
}

.flex-row {
  display: flex;
  justify-content: center;
  text-align: center;
  margin: auto;
  width: 60%;
}

#mid-row {
  margin-top: 5%;
}

#bot-row {
  margin-top: 5%;
  margin-bottom: 10%;
}

.icons {
  margin: 2%;
  height: 100%;
  width: 100%;
  border: 3px solid black;
}

img {
  cursor: pointer;
  height: 100%;
  width: 100%;
}
